

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
/* ==========================================================================
   Landing-Page
   ========================================================================== */
.outer-main-wrapper{
	position: fixed;
/*	height: 25%;*/
	top: 0;
	width: 100%;
	z-index: 9;
	right: 0;
}

.get-in-touch{
	position: absolute;
	top: 20px;
	cursor: pointer;
}

	.section{
		text-align:center;
		font-family: 'Montserrat', sans-serif;
	}
	
	#section0{
	text-align:center;
		background-image: url('../img/opt/Optimized-04white-bg-1st-slider.png');
		background-position: left;
		background-repeat: no-repeat;
		font-family: 'Montserrat', sans-serif;
	}
	
	#section1{
		text-align:center;
		background-image: url('../img/opt/01_hotels-and-restaurant.jpg');
		background-size: cover;
/*		background-position: left;*/
		background-repeat: no-repeat;
		font-family: 'Montserrat', sans-serif;
	}
	
	#section2{
		text-align:center;
		background-image: url('../img/opt/02_watches-and-jewelry.jpg');
/*		background-position: left;*/
		background-repeat: no-repeat;
		background-size: cover;
		font-family: 'Montserrat', sans-serif;
	}
	#section3{
		text-align:center;
		background-image: url('../img/opt/03_real-estate-and-homes.jpg');
/*		background-position: left;*/
background-size: cover;
		background-repeat: no-repeat;
		font-family: 'Montserrat', sans-serif;
	}
	
		#section4{
		text-align:center;
		background-image: url('../img/opt/04_cosmetics-and-fashion.jpg');
/*		background-position: left;*/
background-size: cover;
		background-repeat: no-repeat;
		font-family: 'Montserrat', sans-serif;
	}
	
	#section5{
		text-align:center;
		background-image: url('../img/opt/05_accessories-and-perfumes.jpg');
/*		background-position: left;*/
background-size: cover;
		background-repeat: no-repeat;
		font-family: 'Montserrat', sans-serif;
	}
	
	#section6{
		text-align:center;
		background-image: url('../img/opt/06_wines-and-spirits.jpg');
/*		background-position: left;*/
background-size: cover;
		background-repeat: no-repeat;
		font-family: 'Montserrat', sans-serif;
	}
	
	#section7{
		text-align:center;
		background-image: url('../img/opt/07_health-and-beauty.jpg');
/*		background-position: left;*/
background-size: cover;
		background-repeat: no-repeat;
		font-family: 'Montserrat', sans-serif;
	}
	
	#section8{
		text-align:center;
		background-image: url('../img/opt/07_travel-and-tourism.jpg');
/*		background-position: left;*/
background-size: cover;
		background-repeat: no-repeat;
		font-family: 'Montserrat', sans-serif;
	}
	
	#section9{
		text-align:center;
		background-image: url('../img/opt/09_resorts-and-spa.jpg');
/*		background-position: left;*/
background-size: cover;
		background-repeat: no-repeat;
		font-family: 'Montserrat', sans-serif;
	}
	
	#section12{
		text-align:center;
		background-image: url('../img/opt/Optimized-04white-bg-1st-slider.png');
/*		background-position: left;*/
background-size: cover;
		background-repeat: no-repeat;
		font-family: 'Montserrat', sans-serif;
	}
	
	#section10{
		text-align:center;
		background-image: url('../img/opt/10_art-and-antiquities.jpg');
/*		background-position: left;*/
background-size: cover;
		background-repeat: no-repeat;
		font-family: 'Montserrat', sans-serif;
	}
	
	#section11{
		text-align:center;
		background-image: url('../img/opt/11_automobiles-and-interiors.jpg');
/*		background-position: left;*/
background-size: cover;
		background-repeat: no-repeat;
		font-family: 'Montserrat', sans-serif;
	}
	
	.last{
		margin-top: 25px;
		color: #000;
		width: 70%;
		margin-left: 15%;
		font-family: 'Montserrat', sans-serif;
	}
	
	.footer-text .footer-email {
    border-bottom: 1px solid #000;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-align: left;
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
}

.btn-email{
	margin-top: 25px;
	padding: 0 10px 0 10px;
	margin-bottom: 25px;
	border: 1px solid #000;
	background-color: transparent;
	font-family: 'Montserrat', sans-serif;
}

.divider{
	margin-top: 25px;
}
	
	.comming-soon-text{
		color: #000;
		font-size: 25px;
		margin-top: 25px;
		letter-spacing: 1px;
		font-family: 'Montserrat', sans-serif;
	}
	
	.slimScrollBar{
		width: 1px !important;
	}
	
	.responsive-table{
/*		margin-top: 25px;*/
		width: 80%;
		margin: 0 auto;
	}
	
	
	.arrow-container:hover{
		cursor: pointer;
	}
	
	.arrow-container1:hover{
		cursor: pointer;
	}
	
	.arrow-container1{
		margin-top: 50px;
	}
	
	.arrow-container1 img{
/*		position: absolute;*/
		
		-webkit-animation:3s bounce infinite ease;
		animation:3s bounce infinite ease;
	}
	
	.arrow-container img{
		position: absolute;
		
		-webkit-animation:3s arrow infinite ease;
		animation:3s arrow infinite ease;
	}
	
	
	@-webkit-keyframes arrow {
		0%,100% {
			top:-50px;
		}
		50% {
			top:-20px;
		}
	}
	
	@keyframes arrow {
		0%,100% {
			top:-50px;
		}
		50% {
			top:-20px;
		}
	}
	
	@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

	
	.line{
		height: 1px;
		width: 50px;
		display: inline-block;
		background-color: #000;
		vertical-align: middle;
		font-family: 'Montserrat', sans-serif;
	}
	
	#fp-nav ul li{
		width: 90px;
		position: relative;
		height: 6px;
		font-family: 'Montserrat', sans-serif;
	}
	
	#fp-nav ul li a{
		transition: 0.6s all ease 0s;
		display: inline-block;
		width: 30px;
		height: 1px;
		top: 50%;
		margin-top: -1px;
		position: absolute;
		right: 0;
		background-color: #b3b3b3;
		font-family: 'Montserrat', sans-serif;
	}
	
	#fp-nav ul li a.active, #fp-nav ul li a:hover{
		width: 40px;
		font-family: 'Montserrat', sans-serif;	
		background-color: #000;
	}
	
	#fp-nav ul li a span{
		display: none;
	}
	
	#fp-nav ul li .fp-tooltip, #fp-nav ul li .fp-tooltip.right{
		right: auto;
		left: 0;
		width: auto;
		z-index: 1;
		max-width: none;
		letter-spacing: 3px;
		font-family: 'Montserrat', sans-serif;
	}
	
	.white-div1{
	margin: -100px 0 0 -170px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 50%;
    height: 200px;
    background: #fff;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
	}
	
	.black-overlay-div1{
	overflow: hidden;
    margin: -215px -130px 0 0;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 260px;
    height: 430px;
    background: #fff;
    z-index: 2;	
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
	}
	
	.white-div2{
	margin: -100px 0 0 -170px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 50%;
    height: 200px;
    background: #fff;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
	}
	
	.black-overlay-div2{
	overflow: hidden;
    margin: -215px -130px 0 0;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 260px;
    height: 430px;
    background: #fff;
    z-index: 2;	
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
	}
	
	.white-div3{
	margin: -100px 0 0 -170px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 50%;
    height: 200px;
    background: #fff;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
	}
	
	.black-overlay-div3{
	overflow: hidden;
    margin: -215px -130px 0 0;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 260px;
    height: 430px;
    background: #fff;
    z-index: 2;	
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
	}
	
	.white-div4{
	margin: -100px 0 0 -170px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 50%;
    height: 200px;
    background: #fff;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
	}
	
	.black-overlay-div4{
	overflow: hidden;
    margin: -215px -130px 0 0;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 260px;
    height: 430px;
    background: #fff;
    z-index: 2;	
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
	}
	
	.white-div5{
	margin: -100px 0 0 -170px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 50%;
    height: 200px;
    background: #fff;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
	}
	
	.black-overlay-div5{
	overflow: hidden;
    margin: -215px -130px 0 0;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 260px;
    height: 430px;
    background: #fff;
    z-index: 2;	
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
	}
	
	.white-div6{
	margin: -100px 0 0 -170px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 50%;
    height: 200px;
    background: #fff;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
	}
	
	.black-overlay-div6{
	overflow: hidden;
    margin: -215px -130px 0 0;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 260px;
    height: 430px;
    background: #fff;
    z-index: 2;	
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
	}
	
	.white-div7{
	margin: -100px 0 0 -170px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 50%;
    height: 200px;
    background: #fff;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
	}
	
	.black-overlay-div7{
	overflow: hidden;
    margin: -215px -130px 0 0;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 260px;
    height: 430px;
    background: #fff;
    z-index: 2;	
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
	}
	
	.white-div8{
	margin: -100px 0 0 -170px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 50%;
    height: 200px;
    background: #fff;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
	}
	
	.black-overlay-div8{
	overflow: hidden;
    margin: -215px -130px 0 0;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 260px;
    height: 430px;
    background: #fff;
    z-index: 2;	
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
	}
	
	.white-div9{
	margin: -100px 0 0 -170px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 50%;
    height: 200px;
    background: #fff;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
	}
	
	.black-overlay-div9{
	overflow: hidden;
    margin: -215px -130px 0 0;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 260px;
    height: 430px;
    background: #fff;
    z-index: 2;	
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
	}
	
	.white-div10{
	margin: -100px 0 0 -170px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 50%;
    height: 200px;
    background: #fff;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
	}
	
	.black-overlay-div10{
	overflow: hidden;
    margin: -215px -130px 0 0;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 260px;
    height: 430px;
    background: #fff;
    z-index: 2;	
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
	}
	
	.white-div11{
	margin: -100px 0 0 -170px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 50%;
    height: 200px;
    background: #fff;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
	}
	
	.black-overlay-div11{
	overflow: hidden;
    margin: -215px -130px 0 0;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 260px;
    height: 430px;
    background: #fff;
    z-index: 2;	
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
	}

.twitter-container{
	height: 40px;
	width: 40px;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 20px;
	margin-top: 20px;
/*	border: 2px solid #000;*/
	font-family: 'Montserrat', sans-serif;
}

.twitter-container img{
	padding-top: 6px;
	padding-left: 6px;
	font-family: 'Montserrat', sans-serif;
}


.logo-container{
	height: 100%;
	display: table;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
}

.logo-inner-container{
	display: table-cell;
	vertical-align: middle;
	font-family: 'Montserrat', sans-serif;
}

.header-text{
	color: #000;
	width: 70%;
	margin: 0 auto;
	font-size: 15px;
	margin-top: 50px;
	font-family: 'Montserrat', sans-serif;
}

.header-text img{
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'Montserrat', sans-serif;
}

.name-main{
	position: absolute;
	top: 45%;
	right: 20%;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

.main-name-responsive{
	position: absolute;
	top: 34%;
	display: none;
	right: 20%;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

.arrow-container{
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -16px;
	font-family: 'Montserrat', sans-serif;
}

.svg-wrapper{
	position: absolute;
}

.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #000;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.svg-wrapper:hover .shape {
  stroke-width: 1px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.footer{
	width: 100%;
	border-top: 1px solid #d9d9d9;
}

.footer-text{
	width: 80%;
	margin: 0 auto;
	padding: 10px 0 10px 0;
}

.outer-valign-container{
		display: table;
		width: 100%;
	    	height: 100%;
	    	text-align: center;
	}
	
	.outer-valign-container .inner-valign-container{
		display: table-cell;
		vertical-align: middle;
	}
	
	.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.load{
	width: 90%; 
	margin: 0 auto;
}

.load1{
	width: 90%; 
	margin: 0 auto;
	margin-top: 50px;
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

@media only screen and (max-width : 1200px){
		.name-main{
		font-size: 16px;
	}
}


@media only screen and (max-width: 1099px) and (min-width: 768px){
	.name-main{
		display: none;
	}
	.main-name-responsive{
		display: block;
		position: absolute;
	top: 34%;
	right: 20%;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	}
}

@media only screen and (min-width : 767px){
	.space{
		display: none;
	}
	.responsive-table{
		display: none;
	}
}

@media only screen and (max-width : 767px){
	.black-overlay-div1{
		visibility: hidden;
	}
	.black-overlay-div2{
		visibility: hidden;
	}
	.black-overlay-div3{
		visibility: hidden;
	}
	.black-overlay-div4{
		visibility: hidden;
	}
	.black-overlay-div5{
		visibility: hidden;
	}
	.black-overlay-div6{
		visibility: hidden;
	}
	.black-overlay-div7{
		visibility: hidden;
	}
	.black-overlay-div8{
		visibility: hidden;
	}
	.black-overlay-div9{
		visibility: hidden;
	}
	.black-overlay-div10{
		visibility: hidden;
	}
	.black-overlay-div11{
		visibility: hidden;
	}
	
	#fp-nav{
		visibility: hidden;
	}
	
	.name-main{
/*		top: 77%;*/
		width: 100%;
		margin-top: 50px;
		right: 0;
		font-size: 16px;
	}
	
	.logo-container{
		margin-top: 50px;
	}
	
	.load{
	width: 75%; 
	margin: 0 auto;
}

.load1{
	width: 75%; 
	margin: 0 auto;
}
}

